.box-area{
    background: #d8d8d8;
     border-radius: 50%;
     margin: 15% auto;
     width: 200px;
     height: 200px;
     }
     .round,.inner-box{
        position: absolute;
     border-radius: 50%;
     width: 200px;
     height: 200px;
     }
     .round{
        clip: rect(0px,200px,200px,100px);
     }
     .inner-box{
        clip: rect(0px,100px,200px,0px);
        background-color: rgb(80, 80, 248);
     }
     .round.outer,.inner-box{
        animation: animate ease 5s infinite;
        transform: rotate(155deg);
     }
     .number{
        width:180px;
        background-image: url('./background.gif');
        line-height: 180px;
        text-align: center;
        margin-top:10px;
        margin-left: 10px;
        font-size: 30px;
        color: white;
        font-family: poppins;
        position: absolute;
        z-index: 90;
        font-weight: 900;
        height: 180px;
        border-radius :50%;
     }
     @keyframes animate{
        from{
            transform: rotate(0);
        }
        to{
            transform: rotate(155deg);
        }
     }